<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testPagingView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>324224831CE0C2A600DA1A66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3242249A1CE0C2A700DA1A66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324224A51CE0C2A700DA1A66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
